@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';
.comment {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  @include responsiveMin($tablet-land) {
    flex-direction: row;

    .info {
      order: 2;
    }

    .score {
      order: 0;
    }
  }

  & > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .action--buttons {
    display: flex;
    align-items: center;
    position: absolute;
    right: 1.5rem;
    bottom: 4rem;

    & button:not(:last-child) {
      margin-right: 2rem;
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }

    @include responsiveMin($tablet-land) {
      top: 2rem;
      height: 2rem;
    }
  }
}
