// Colors
$light-blue-100: hsl(239, 57%, 85%);
$dark-blue-100: hsl(238, 40%, 52%);
$dark-blue-200: hsl(212, 24%, 26%);
$dark-red-100: hsl(358, 79%, 66%);
$ligh-red-100: hsl(357, 100%, 86%);

// Neutral Colors
$light-grey-200: hsl(223, 19%, 93%);
$light-grey-100: hsl(228, 33%, 97%);
$dark-grey-100: hsl(211, 10%, 45%);
$white: hsl(0, 0%, 100%);
