@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

.actionButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  color: $dark-blue-100;
  font-size: 1.1rem;
  transition: all 0.25s ease-in;

  &:hover {
    transition: all 0.25s ease-in;
    color: $dark-blue-200;
  }

  & span {
    font-size: 1.35rem;
    padding-left: 0.3rem;
  }
}

.reply {
  color: $dark-blue-100;
  &:hover {
    transition: all 0.2s ease-in;
    color: rgba($dark-blue-100, $alpha: 0.5);
  }
}
.delete {
  color: $dark-red-100;
  &:hover {
    transition: all 0.2s ease-in;
    color: rgba($dark-red-100, $alpha: 0.5);
  }
}
